*{
    font-family: sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    
}
/*Estilos do onload*/
#login{
    display: none;
}

/*estilos do header*/
header{
    background-color: black;
    color: white;
    padding: 20px;
}
/*estilos do main*/
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    min-height: calc(100vh - 142px);
    background-color: gray;
}

/*estilos do form de login*/
.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-style: solid;
    border-radius: 15px;
    padding: 0px 0px 10px 0px;
    width: 420px;
    max-height: 530px;
    background-color: white;
    border-style: none;
    
}
.formLogin>h3{
    text-align:left;
    padding:27px;
    width: 420px;
    font-size: 28px;
    color: rgb(59, 52, 104);
    background-color: black;
    margin-bottom: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: 700;
    
}

.formLogin>h3>a{
    color: white;
    font-weight: 750;
}

.formLogin>button,.formLogin>button:last-of-type{
    
    border-radius: 15px;
    border-style: none;
    width: 70%;
    min-height: 70px;
    background-color: green;
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin-top: 25px;
}

input{
    margin-bottom: 20px;
    width: 75%;
    min-height: 30px;
    font-size: 20px;
    border-style: none;
    border-bottom-style: solid;
    background-color: white;
    border-radius: 5px;
}
input:focus{
    outline: none;
}
.divManter{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.divManter>input{
    border-style: initial;
    margin: 0 5px 0 0;
    width: 15px;
    
}

/*Estilos da sessão "Usuarios Cadastrados"*/
.logados{
    background-color: white;
    padding:20px ;
    border-radius: 15px;
    background-color: gray;
}
.logados>h2{
    text-align: justify;
    font-size: 30px;
}
.users{
    display: flex;
    align-content: center;
    align-items: center;
    padding:0 26px 0 0;
    margin-top: 20px;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    
    
}

.a{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 52, 104);
    border-style: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
    
}

.letra{
    font-family:monospace;
    
}

.inicial{
    
    display: inline;
    font-size: 40px;
    
    color: white;
    padding: 18px 30px;
    border-style: none;
    border-right-style: bold;
    border-color: black;
    text-decoration: none;
    border-top-left-radius: 15px;
    
    
}
.b{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.nome{
    font-size: 25px;
}

.email{
    text-align: left;
}
.nome, .email{
    margin-left: 5px;
}
.c{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.c>button{
    margin-left: 0px;
    background-color: rgb(59, 52, 104);
    color: white;
    border-style: none;
    padding: 4px;
    border-radius: 10px;
}

.c>.del{
    background-color: black;
}

.indice{
    color: white;
}

/*estilos do footer*/
footer{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}